
body {

	margin: 0;
	padding: 0;
    background-color: lightblue;
}

h1 {


	margin: 0;
    color: white;
    text-align: center;
}

p {

	width: 50%;
	float: center;
	text-align: center;    
	padding: 25px;
	margin: 10px;
	border: 2px solid black;
	color: grey;
    font-family: verdana;
    font-size: 20px;
}



h3{
	display: inline;

}

 ul{
	margin: 0;


}

ul li{
	background: black;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
}

ul li a{
	color: white;
}




