
body {

	margin: 0;
	padding: 0;
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {

	width: 50%;
	float: left;    
	padding: 25px;
	margin: 10px;
	border: 2px solid black;
	border:;

	color: grey;
    font-family: verdana;
    font-size: 20px;


}

