/*#Container {
    background-color: #FFFFFF;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 50px 50px 50px;
    border-radius: 10px;
}*/


.header {
    border: 1px solid blue;
    padding: 15px;
}
.menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid blue;
}


/*@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }*/
}
/*.ProfilePicture{
	
	position: relative;
	display: block;
	margin: 55px auto auto auto;
	background-attachment: fixed;
	
}*/


[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 25%;}


[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

@media screen and (max-width: 500px){

	body {
        background-color: lightgreen;
        padding: 20px;
    font-family: "verdana" , sans-serif;
    }

	.col-1{width: 25%}
    img{
        width:100%;
        height:auto;

    }
	
	.ProfilePicture{
		border-radius: 5px;
		border: 2px solid #ddd;
		padding: 150px;
		height: 300;
		width: 200;
		position: relative;
		display: block;
		margin: 55px auto auto auto;
		background-attachment: fixed;	
	}
}
@media screen and (min-width: 501px) and (max-width: 980px){

	.col-1{width: 25%}
    img{
        width:100%;
        height:auto;
    }

	.ProfilePicture{
		border-radius: 5px;
		border: 2px solid #ddd;
		padding: 150px;
		height: 500;
		width: 300;
		position: relative;
		display: block;
		margin: 55px auto auto auto;
		background-attachment: fixed;
	}
}

@media screen and (min-width: 981px){
	.col-1{width: 25%}
    img{
        width:100%;
        height:auto;
    }

	.ProfilePicture{
		border-radius: 5px;
		border: 2px solid #ddd;
		padding: 150px;
		height: 500;
		width: 300;
		position: relative;
		display: block;
		margin: 55px auto auto auto;
		background-attachment: fixed;	
	}
}






/* For mobile phones: */
/*[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 25%;}
    img{
    	width: 100%;
    	height: auto;
    }

}

html {
    font-family: "verdana", sans-serif;
}


@media screen and (max-device-width: 480px){
	.col-1{width: 25%}
    img{
        width:100%;
        height:auto;
    }
}*/


/*img{
	border-radius: 75%;
	transition: all 0.5s easy-in-out;
	opacity: .5;
	max-width: 50%;
	height: auto;
}
*/

/*	width: 120px;
	min-height: 120px;
	max-height: auto;
	float: center;
	margin: 3px;
	padding: 3px;*/







}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}








p {

	width: 75%;
	float: center;
	text-align: center;    
	padding: 25px;
	margin: 10px;
	border: 2px solid black;
	color: grey;
    font-family: "verdana", sans-serif;
    font-size: 20px;
}


 ul{
	margin: 0;


}

ul li{
	background: black;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
}

ul li a{
	color: white;
}





* {
    box-sizing: border-box;
}


body {
    background-color: lightblue;
    padding: 20px;
    font-family: "verdana" , sans-serif;
}
/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}


/*.main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid blue;
}
*/


h1 {
	font-family: "verdana", sans-serif;
    font-size: 25px;
    word-break: break-all;
    text-align: center;

}
h3{
	font-family: "verdana", sans-serif;	
	text-align = "left"

}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

#container { overflow: auto; -webkit-overflow-scrolling: touch; height: 500px; }
      


